* text=auto !eol
frontend/pom.xml -text svneol=unset#application/xml
frontend/src/main/java/org/onehippo/forge/search/workflow/taxonomy/frontend/ActionsPanel.java -text
frontend/src/main/java/org/onehippo/forge/search/workflow/taxonomy/frontend/CollectionTaxonomyPickerDialog.java -text
frontend/src/main/java/org/onehippo/forge/search/workflow/taxonomy/frontend/CollectionTaxonomyWorkflowPlugin.java -text
frontend/src/main/resources/com/onehippo/cms7/search/frontend/report/ReportView.properties -text
frontend/src/main/resources/com/onehippo/cms7/search/frontend/report/ReportView_de.properties -text
frontend/src/main/resources/com/onehippo/cms7/search/frontend/report/ReportView_fr.properties -text
frontend/src/main/resources/com/onehippo/cms7/search/frontend/report/ReportView_nl.properties -text
frontend/src/main/resources/org/onehippo/forge/search/workflow/taxonomy/frontend/ActionsPanel.html -text
frontend/src/main/resources/org/onehippo/forge/search/workflow/taxonomy/frontend/CollectionTaxonomyPickerDialog.css -text
frontend/src/main/resources/org/onehippo/forge/search/workflow/taxonomy/frontend/CollectionTaxonomyWorkflowPlugin.html -text
frontend/src/main/resources/org/onehippo/forge/search/workflow/taxonomy/frontend/CollectionTaxonomyWorkflowPlugin.properties -text
/pom.xml -text svneol=unset#application/xml
repository/pom.xml -text svneol=unset#application/xml
repository/src/main/java/org/onehippo/forge/search/workflow/taxonomy/CollectionTaxonomyWorkflow.java -text
repository/src/main/java/org/onehippo/forge/search/workflow/taxonomy/impl/CollectionTaxonomyWorkflowImpl.java -text
repository/src/main/resources/configuration/workflows/collection-taxonomy.xml -text svneol=unset#application/xml
repository/src/main/resources/hippoecm-extension.xml -text svneol=unset#application/xml
